<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TNCAX25Emulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TNCAX25Emulator.Properties.Settings>
            <setting name="comport" serializeAs="String">
                <value />
            </setting>
            <setting name="callsign" serializeAs="String">
                <value />
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="soundport" serializeAs="String">
                <value />
            </setting>
            <setting name="kisschecked" serializeAs="String">
                <value>KissCheckBox</value>
            </setting>
            <setting name="kissenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soundEnableCB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="serverport" serializeAs="String">
                <value />
            </setting>
            <setting name="mapenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="markfreq" serializeAs="String">
                <value />
            </setting>
            <setting name="markreverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="offset" serializeAs="String">
                <value />
            </setting>
            <setting name="baud" serializeAs="String">
                <value />
            </setting>
            <setting name="rttyenabled" serializeAs="String">
                <value>Rtty Enabled</value>
            </setting>
            <setting name="rttyenabledch" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reverseenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SoundEnabledIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="soundportin" serializeAs="String">
                <value />
            </setting>
            <setting name="afcenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioTrack" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="audioAPRS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="latitude" serializeAs="String">
                <value />
            </setting>
            <setting name="longitude" serializeAs="String">
                <value />
            </setting>
            <setting name="Height" serializeAs="String">
                <value />
            </setting>
            <setting name="localGPRSenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PayLoadCallsign" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="comport2" serializeAs="String">
                <value>COM1</value>
            </setting>
        </TNCAX25Emulator.Properties.Settings>
    </userSettings>
</configuration>